* {
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: auto;
}

.instagram-container    {
    width: 100%;
    max-width: 350px;
    margin: auto;
    border: 1px solid #ccc;
    margin-top: 15px;
}
.instagram-logo {
    width: 100%;
    max-width: 200px;
    margin: auto;
    margin-top: 10px;
}

.instagram-logo img{
    width: 100%;
}

.instagram-status   {
    font-size: 16px;
    text-align: center;
    color: #aaa;
    font-weight: 900;
}

.instagram-container-inside{
    padding: 25px;
}

.instagram-container-inside button{
    width: 100%;
    padding: 8px;
    margin: 8px;
    border: none;
    font-size: 12px;
    color: white;
    background-color: #3897f0;
    border-radius: 5px;
    font-weight: 700;
}

.instagram-container-inside h5{
    color: #6e6868;
    text-align: center;
    font-weight: 900;
}

.instagram-container-inside input[type=email],input[type=text],input[type=password]{
    width: 100%;
    padding: 8px;
    margin: 6px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    background-color: #f0f0f0;
    font-size: 12px;
    border-radius: 4px;
}

.instagram-container-inside p{
    font-size: 10px;
    color: #b3acac;
    text-align: center;
    font-weight: 600;
}

.instagram-container-inside a{
    font-size: 12px;
    text-decoration: none;
    position: relative;
    left: 110px;
    text-align: center;
    color: indigo;
}


.instagram-container-inside button:hover{
    cursor: pointer;
    background-color: #256bac;
}


.instagram-container-inside input[type="submit"]{
    width: 100%;
    padding: 8px;
    margin: 8px;
    border: none;
    font-size: 12px;
    color: white;
    background-color: #3897f0;
    border-radius: 5px;
    font-weight: 700;
}

.instagram-container-inside input[type="submit"]:hover{
    cursor: pointer;
    background-color: #256bac;
}

.instagram-bottom-container{
    width: 100%;
    max-width: 350px;
    margin: auto;
    border: 1px solid #ccc;
    margin-top: 15px;
}

.instagram-bottom-container h4{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

.instagram-bottom-container a{
    font-weight: 600;
}

.instagram-app h4{
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
}

.instagram-download{
    gap: 2rem;
    margin: auto;
    width: 100%;
}

.instagram-download img{
    margin-top: 20px;
    display: inline-block;
    position: relative;
    left: 560px;
    width: 9%;
}

#gplay:hover{
    cursor: pointer;
}

#appstore:hover{
    cursor: pointer;
}

.footer{
    margin-top: 80px;
}

.instagram-footer a{
    display: inline-block;
    padding: 5px;
    position: relative;
    left: 260px;
    text-align: center;
    font-size: 12px;
    color: #776c6c;
    font-weight: 400;
    text-decoration: none;
}

.instagram-footer a:hover{
    text-decoration: underline;
    color: #3897f0;
}

.copyright {
    margin-top: 20px;
    margin: 5px;
}

.copyright p, select{
    margin-top: 10px;
    margin-bottom: 70px;
    display: inline-block;
    position: relative;
    transform: translate(540px);
    font-size: 12px;
    color: #6e6868;
    text-align: center;
}

.copyright select:hover{
    cursor: pointer;
    outline: none;

}

#Lang   {
    outline: none;
}

.fa-facebook {
    position: relative;
    bottom: 2px;
    width: 20px;
}

.title-reset h3{
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}

.garis{
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.garis hr{
    border: none;
    border-top: 2px solid gray;
    position: relative;
    margin: 0;
    left: 7px;
}

.garis span{
    position: relative;
    top: -10px;
    background-color:white;
    font-size: 12px;
    color: #6e6868;
    text-align: center;
    font-weight: 900;
}

/* screen 500px */

@media only screen and (max-width:500px) {
  body{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
  }
  .instagram-container {
    width: 100%;
  }
  
  .instagram-footer{
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .instagram-footer a{
    display: flex;
 
    flex-direction: column;
    gap: 2rem;
    position: relative;
    left: 250px;
    text-align: center;
    font-size: 10px;
    color: #776c6c;
    font-weight: 400;
    text-decoration: none;
  }
  
  .footer{
   position: relative;
   right: 250px;
   margin-top: 30px;
  }
  
  .copyright{
    display: inline-block;
    justify-content: center;
    align-content: center;
  }
  
  .copyright select{
    position: relatives;
    width: 60px;
    height: 20px;
    right: 200px;
  }
  
  .copyright p{
    font-size: 10px;
    position: relative;
    right: 160px;
  }
  
  .instagram-download{
   position: relative;
   right: 400px;

    
  }
  
  .instagram-download img{
    width: 20% ;
    padding:5px;
 
  }
  
  }
  

